<h2>{{title}}</h2>
<ul>
    {{#each anekdots}}
        <li>{{this.name}} - ${{this.price}}</li>
    {{/each}}
</ul>

<div>
    {{#if hasPrevPage}}
        <a href="/anekdots?page={{prevPage}}">Previous</a>
    {{/if}}
    {{#if hasNextPage}}
        <a href="/anekdots?page={{nextPage}}">Next</a>
    {{/if}}
</div>